<h1>Add new recipe</h1>

<form action="/recipes/new" method="post">
	<div class="form-group">
		<label for="name">Please enter recipe's name:</label>
		<input id="name" name="name" type="text">
	</div>

	<button type="submit" class="btn-success">Add recipe!</button>
</form>

<p><a href="/">Back to home</a></p>
