.container {
  margin: 30px;
  background-color: white;
  float: center;
  border-radius: 25px;
}

body {
  background: linear-gradient(rgba(255,255,255,0.2), rgba(255,255,255,0.2)), url('/img/pizza.jpg') repeat center center;
}

h1.header {
  font-family: 'Sigmar One', cursive;
  text-align: center;
  font-size: 70px;
  color: #B00000;
  background-color: #D8D8D8;
  border-radius: 25px;
  .rotate:hover

}

.rotate:hover {
        -webkit-transform: rotateZ(-30deg);
        -ms-transform: rotateZ(-30deg);
        transform: rotateZ(-30deg);
}

h2.header {
  text-align: center;
}

h2.add {
  font-family: 'Chewy', cursive;
}

h1.title {
  text-align: center;
  font-family: 'Chewy', cursive;
}

.add_group {
  background-color: #F9F9F9;
  padding: 10px;
  border-radius: 15px;
}
